altair==5.2.0
basketball_reference_web_scraper==4.13.0
beautifulsoup4==4.12.3
joblib==1.3.2
keras==3.0.4
numpy==1.26.3
pandas==2.2.0
Pillow==10.2.0
Requests==2.31.0
setuptools==69.0.2
streamlit==1.30.0
tensorflow==2.15.0.post1
Unidecode==1.3.8
