streamlit
pandas
numpy
altair
Pillow
beautifulsoup4
unidecode
joblib
tensorflow
keras
basketball-reference-web-scraper
certifi==2018.10.15
idna==2.7
pytz==2018.6
requests==2.20.0
urllib3==1.24.3
lxml==4.6.5
